<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>  
  </head>
  <body>

    <div align="center">

      <h2>~~=_ vrabec tv _-~~<br>open-source sparrow detector<br>{{ size }} lines of code</h2>
      <h3>find more at<br>
	<a href="https://github.com/kaloyansen/moineau">https://github.com/kaloyansen/moineau</a>
      </h3>
      <h3>watch online at<br>
	<a href="http://vrabectv.duckdns.org">http://vrabectv.duckdns.org</a>
      </h3>
      <a href="{{ url_for('index') }}">index</a>
    </div>
    {{ code | safe }}
    <div align="center">

      <a href="{{ url_for('index') }}">index</a>
    </div>
  </body>
</html>
