<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
   <div class="container">
	<div class="box">
          <a href="{{ url_for('browse') }}">audio</a>
          <a href="{{ url_for('feed') }}">video</a>
          <a href="{{ url_for('access_source_code') }}">code</a>
	  <br>
          <img src="{{ url_for('feed') }}">
	</div>
    </div>
</body>
</html>
