<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    
    <div class="container">
      
      <div class="box">
	
	<a href="{{ url_for('access_source_code') }}"><img src="{{ url_for('feed') }}"></a>
      </div>
      <div class="box">
	
	{% for file in audio_files %}
	{{ file[:-4] }}
	<audio controls preload="none"><source src="/static/audio/{{ file }}" type="audio/mpeg">

	  your browser does not support {{ file }}
	</audio>
	<br>
	{% endfor %}
      </div>
    </div>
  </body>
</html>




